@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  exclude: properties;
  logs: false;
}

:root {
  font-family: "Inter", sans-serif;
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-current/25;

  &:hover {
    @apply bg-current/50;
  }
}

/* Respect users' accessibility preferences by disabling view transitions. */
@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
