@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

:root {
  font-family: "Inter", sans-serif;
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
